@import '../style/index.less';

.hong-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 250px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  visibility: visible;
  &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    padding-top: 8px;
  }

  &-placement-bottom &-arrow {
    left: 50%;
    transform: translateX(-50%);
  }

  &-placement-bottom &-arrow,
  &-placement-bottomLeft &-arrow,
  &-placement-bottomRight &-arrow {
    top: -5.07106781px;
  }

  &-arrow {
    position: absolute;
    display: block;
    width: 13.07106781px;
    height: 13.07106781px;
    overflow: hidden;
    background: transparent;
    pointer-events: none;
  }

  &-placement-bottom &-arrow-content,
  &-placement-bottomLeft &-arrow-content,
  &-placement-bottomRight &-arrow-content {
    -webkit-box-shadow: -3px -3px 7px rgb(0 0 0 / 7%);
    box-shadow: -3px -3px 7px rgb(0 0 0 / 7%);
    -webkit-transform: translateY(6.53553391px) rotate(45deg);
    transform: translateY(6.53553391px) rotate(45deg);
  }

  &-arrow-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
    content: '';
    pointer-events: auto;
  }

  &-inner {
    min-width: 30px;
    min-height: 32px;
    padding: 6px 8px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
  }
}
