@import '../style/index.less';

.hong-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  color: @main;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
