@import '../style/index.less';

.hong-btn {
  &,
  &-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 4px 15px;
    color: @main;
    font-size: 14px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &,
  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:focus,
  &-default:hover,
  &:hover {
    color: lighten(@primary, 10%);
    border: 1px solid lighten(@primary, 10%);
  }

  &-primary {
    color: #fff;
    background: @primary;
    &:focus,
    &:hover {
      color: #fff;
      background: lighten(@primary, 10%);
      border-color: lighten(@primary, 10%);
    }
  }

  &-dashed {
    border-style: dashed;
    &:focus,
    &:hover {
      border-color: lighten(@primary, 10%);
      border-style: dashed;
    }
  }

  &-text {
    background: 0 0;
    border-color: transparent;
    &:focus,
    &:hover {
      color: @main;
      background: @bg;
      border-color: transparent;
    }
  }

  &-link {
    color: @primary;
    background: 0 0;
    border-color: transparent;
    &:focus,
    &:hover {
      color: lighten(@primary, 10%);
      border-color: transparent;
    }
  }

  &-small {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
  }
  &-large {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
  }

  &-ghost {
    color: #fff;
    background: 0 0;
    border-color: #fff;
  }

  &-primary&-ghost {
    color: @primary;
    text-shadow: none;
    background: 0 0;
    border-color: @primary;
    &:hover {
      color: lighten(@primary, 10%);
      background: 0 0;
      border-color: lighten(@primary, 10%);
    }
  }

  &-danger&-ghost {
    color: @primary;
    text-shadow: none;
    background: 0 0;
    border-color: @primary;
    &:hover {
      color: lighten(@primary, 10%);
      background: 0 0;
      border-color: lighten(@primary, 10%);
    }
  }

  &[disabled],
  &[disabled]:active,
  &[disabled]:focus,
  &[disabled]:hover {
    color: @disabled;
    text-shadow: none;
    background: @bg;
    border-color: @border;
    box-shadow: none;
  }

  &-primary[disabled],
  &-primary[disabled]:active,
  &-primary[disabled]:focus,
  &-primary[disabled]:hover {
    color: @disabled;
    text-shadow: none;
    background: @bg;
    border-color: @border;
    box-shadow: none;
  }

  &-dashed[disabled],
  &-dashed[disabled]:active,
  &-dashed[disabled]:focus,
  &-dashed[disabled]:hover {
    color: @disabled;
    text-shadow: none;
    background: @bg;
    border-color: @border;
    box-shadow: none;
  }

  &-text[disabled],
  &-text[disabled]:active,
  &-text[disabled]:focus,
  &-text[disabled]:hover {
    color: @disabled;
    text-shadow: none;
    background: 0 0;
    border-color: transparent;
    box-shadow: none;
  }

  &-link[disabled],
  &-link[disabled]:active,
  &-link[disabled]:focus,
  &-link[disabled]:hover {
    color: @disabled;
    text-shadow: none;
    background: 0 0;
    border-color: transparent;
    box-shadow: none;
  }

  &::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: 0.35;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }

  &-loading {
    position: relative;

    &:not([disabled]) {
      pointer-events: none;
    }
    &::before {
      display: block;
    }
  }

  &-loading-icon {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    > span {
      padding-right: 8px;
    }
  }
}
